.App {
    font-family: sans-serif;
    background-color: lightgrey;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 25vmin;
    pointer-events: none;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }